@use 'sass:map';
@use 'sass:color';

@import '../variables';
@import '../mixins';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  @include adaptive-value("font-size", 14, 13, 1);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &__primary {
    height: toRem(47);
    padding: 0 1rem;
    line-height: 1.23;
    color: #121111;
    border: 1px solid #CF9056;
    background-color: #CF9056;
    -webkit-border-radius: toRem(37);
    -moz-border-radius: toRem(37);
    border-radius: toRem(37);

    &:hover {
      @include media('>=desktop') {
        background-color: transparent;
        color: #CF9056;
      }
    }

    &.btn__with-icon {
      &:hover {
        svg {
          path {
            @include media('>=desktop') {
              stroke: #CF9056;
            }
          }
        }
      }
    }
  }

  &__secondary {
    line-height: 1.5;
    color: #CF9056;
    background-color: transparent;

    &:hover {
      @include media('>=desktop') {
        color: #fff;
      }
    }

    &.btn__with-icon {
      svg {
        @include media('>=desktop') {
          right: 0;
          transition: right 0.25s ease;
        }
      }

      &:hover {
        svg {
          @include media('>=desktop') {
            right: toRem(-6);
          }

          path {
            @include media('>=desktop') {
              stroke: #fff;
            }
          }
        }
      }
    }
  }

  &__with-icon {
    svg {
      display: block;
      margin-top: toRem(2);
      margin-left: toRem(10);

      @include media('>=desktop') {
        position: relative;
      }
    }
  }

  &__cart,
  &__favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(29);
    height: toRem(29);
    @include adaptive-value("width", 36, 29, 1);
    @include adaptive-value("height", 36, 29, 1);
    background-color: #1E1E1E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #1E1E1E;
    outline: none;
    cursor: pointer;

    &:focus {
      border: 1px solid #CF9056;
    }
    
    &.active {
      background-color: #CF9056;
      border-color: #CF9056;

      svg {
        path {
          stroke: #121111;
        }
      }
    }

    &:hover {
      @include media('>=desktop') {
        background-color: #CF9056;
        border-color: #CF9056;
      }

      svg {
        path {
          @include media('>=desktop') {
            stroke: #121111;
          }
        }
      }
    }

    svg {
      flex-shrink: 0;
      width: toRem(14);
    }
  }
}
