@import '../variables';
@import '../mixins';

.header {
  padding: toRem(11) 0;

  &.active {
    .header {
      &__menu-box {
        left: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo-box {
    margin-right: 1rem;

    img {
      width: auto;
      height: toRem(47);
    }
  }

  &__cart-box {
    display: flex;
    align-items: center;
    margin-left: auto;

    > a:first-of-type {
      margin-right: 1rem;
    }
  }

  &__btn-cart {
    position: relative;

    & > span {
      position: absolute;
      top: toRem(-9);
      right: toRem(-9);
      padding: toRem(1) toRem(4);
      font-size: toRem(10);
      font-weight: 600;
      line-height: 1.2;
      color: #121111;
      border: toRem(3) solid #121111;
      background-color: #CF9056;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  &__menu-box {
    position: fixed;
    top: 0;
    left: -101%;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: #121111;
    z-index: 100;
    transition: left 0.25s ease;
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: toRem(70) 0 toRem(20);
  }

  &__menu-title {
    position: absolute;
    top: toRem(23);
    left: toRem(19);
    font-size: toRem(20);
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
  }

  &__nav {
    display: flex;
    justify-content: center;

    ul {
      margin: 0 0 toRem(40);
      padding: 0;
      list-style: none;
      
      li {
        margin-bottom: toRem(40);
        text-align: center;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      a {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        line-height: 1.25;
        color: #fff;
      }
    }
  }

  &__btn-menu {
    position: relative;
    display: block;
    width: toRem(17);
    height: toRem(16);
    margin-left: toRem(30);
    border: none;
    background-color: transparent;
    z-index: 120;

    &.active {
      span {
        &:first-of-type {
          width: 0;
          opacity: 0;
        }

        &:nth-of-type(2) {
          left: toRem(1);
          width: toRem(17);
          transform:  rotate(45deg);
        }

        &:nth-of-type(3) {
          left: toRem(1);
          width: toRem(17);
          transform:  rotate(-45deg);
        }

        &:last-of-type {
          width: 0;
        }
      }
    }

    span {
      position: absolute;
      left: 0;
      display: block;
      width: toRem(16);
      height: toRem(2);
      background-color: #fff;
      transition: .25s ease-in-out;
      -webkit-border-radius: toRem(10);
      -moz-border-radius: toRem(10);
      border-radius: toRem(10);

      &:first-of-type {
        top: toRem(0)
      }

      &:nth-of-type(2) {
        top: toRem(7);
        left: toRem(2);
        width: toRem(10);
      }

      &:nth-of-type(3) {
        top: toRem(7);
        left: toRem(6);
        width: toRem(10);
      }

      &:last-of-type {
        top: toRem(14);
      }
    }
  }

  &__contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }

  &__contact-title {
    margin-bottom: toRem(8);
    font-size: toRem(13);
    font-weight: 400;
    line-height: 1.23;
  }

  &__btn-tel {
    margin-bottom: toRem(30);
    font-size: toRem(20);
    font-weight: 300;
    text-decoration: none;
    line-height: 1.2;
    color: #fff;
  }

  &__social-list {
    display: flex;
    align-items: center;
    margin: 0 toRem(-20) toRem(36);
    padding: 0;
    list-style: none;

    li {
      padding: 0 toRem(20);
    }
  }

  &__btn-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: toRem(337);
    height: toRem(47);
    min-height: toRem(47);
    margin: 0 auto;
    padding: 0 1rem;
    font-size: toRem(13);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.23;
    color: #121111;
    border: 1px solid #CF9056;
    background-color: #CF9056;
    -webkit-border-radius: toRem(37);
    -moz-border-radius: toRem(37);
    border-radius: toRem(37);
  }
}