@import "../mixins";

.action {
  @include adaptive-value("padding-top", 60, 40, 1);
  @include adaptive-value("padding-bottom", 60, 40, 1);

  &__wrapper {
    @include adaptive-value("padding-top", 50, 30, 1);
    @include adaptive-value("padding-bottom", 50, 30, 1);
    @include adaptive-value("padding-right", 120, 20, 1);
    @include adaptive-value("padding-left", 120, 20, 1);
    background-color: #0A2423;
    -webkit-border-radius: toRem(22);
    -moz-border-radius: toRem(22);
    border-radius: toRem(22);
  }

  &__timer-box {
    display: flex;
    align-items: center;
    @include adaptive-value("margin-bottom", 42, 30, 1);
  }

  &__tag {
    margin-right: toRem(20);
    padding: toRem(6) toRem(10);
    @include adaptive-value("font-size", 18, 16, 1);
    font-weight: 400;
    line-height: 1.25;
    color: #121111;
    background-color: #fff;
    -webkit-border-radius: toRem(32);
    -moz-border-radius: toRem(32);
    border-radius: toRem(32);
  }

  &__timer {
    display: flex;
    align-items: center;

    > span:not([class]) {
      margin-right: toRem(8);
      font-size: toRem(12);
      font-weight: 400;
      line-height: 1.25;
      color: #848484;
    }
  }

  &__date {
    @include adaptive-value("font-size", 24, 20, 1);
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
  }

  &__title {
    margin-top: 0;
    @include adaptive-value("margin-bottom", 16, 30, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__description {
    display: none;
  }

  &__media-box {
    margin-bottom: toRem(25);
    
    picture {
      display: block;
    }

    img {
      width: auto;
      @include adaptive-value("height", 305, 200, 1);
      margin: 0 auto;
      object-fit: contain;
    }
  }

  &__price-box {
    display: flex;
    align-items: center;
    @include adaptive-value("margin-bottom", 10, 20, 1);
  }

  &__price {
    @include adaptive-value("font-size", 24, 20, 1);
    font-weight: 400;
    line-height: 1.2;
    color: #CF9056;
  }

  &__price-old {
    @include adaptive-value("margin-right", 16, 14, 1);
    font-size: toRem(14);
    font-weight: 400;
    text-decoration: line-through;
    color: #848484;
  }

  &__buttons-box {
    display: flex;
    flex-direction: column;

    a,
    button {
      width: 100%;

      &:first-child {
        margin-bottom: toRem(20);
      }
    }
  }
}