@import "../mixins";

.cta {
  @include adaptive-value("padding-top", 60, 40, 1);
  @include adaptive-value("padding-bottom", 60, 40, 1);

  &__wrapper {
    padding: toRem(30) toRem(20);
    background-color: #181818;
    -webkit-border-radius: toRem(20);
    -moz-border-radius: toRem(20);
    border-radius: toRem(20);

    @include media('>=tablet') {
      display: flex;
      align-items: center;
    }

    @include media('>=desktop') {
      position: relative;
      padding: toRem(60) toRem(150);
      overflow: hidden;
    }
  }

  &__bg-img {
    display: none;

    @include media('>=desktop') {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;

      img {
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__title-box {
    @include media('>=tablet') {
      width: 45%;
    }

    @include media('>=desktop') {
      max-width: toRem(474);
    }
  }

  &__title {
    margin-top: 0;
    @include adaptive-value("margin-bottom", 20, 14, 1);
    @include adaptive-value("font-size", 34, 24, 1);
    font-weight: 400;
    line-height: 1.2;

    @include media('>=desktop') {
      max-width: toRem(380);
    }
  }

  &__description {
    margin-bottom: toRem(25);
    @include adaptive-value("font-size", 14, 13, 1);

    @include media('>=tablet') {
      margin-bottom: 0;
    }

    p {
      margin: 0 0 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__form-box {
    @include media('>=tablet') {
      width: 45%;
      margin-left: auto;
    }

    @include media('>=desktop') {
      max-width: toRem(300);
    }

    .form-row {
      margin-bottom: toRem(20);

      &-last,
      &:nth-of-type(2) {
        @include adaptive-value("margin-bottom", 30, 20, 1);
      }
    }

    input {
      width: 100%;
    }

    p {
      margin: 0;
      font-size: toRem(12);
    }

    a {
      text-decoration: none;

      &:hover {
        @include media('>=desktop') {
          color: #fff;
        }
      }
    }
  }

  &__form-title {
    margin-top: 0;
    @include adaptive-value("margin-bottom", 30, 20, 1);
    @include adaptive-value("font-size", 18, 16, 1);

  }

  &.catalog__cta {
    @include adaptive-value("padding-bottom", 120, 80, 1);
  }
}