@import "../mixins";

.hero-delivery {
  @include adaptive-value("padding-top", 75, 15, 1);
  @include adaptive-value("padding-bottom", 40, 20, 1);

  &__wrapper {
    @include adaptive-value("padding-bottom", 100, 40, 1);
    border-bottom: 1px solid #222;

    @include media('>=tablet') {
      display: flex;
      align-items: flex-end;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: toRem(50);
    @include adaptive-value("font-size", 40, 24, 1);
    font-weight: 400;

    @include media('>=tablet') {
      width: 45%;
      max-width: toRem(400);
      margin-right: 5%;
      margin-bottom: 0;
    }

    @include media('>=ipad') {
      margin-right: toRem(74);
    }

    @include media('>=desktop') {
      font-weight: 200;
    }
  }

  &__description {
    position: relative;
    color: #fff;

    @include media('>=tablet') {
      width: 50%;
      max-width: toRem(500);
    }

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      @include adaptive-value("width", 227, 135, 1);
      height: auto;
      z-index: -1;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

  }
}

.delivery-steps {
  @include adaptive-value("padding-top", 40, 20, 1);
  @include adaptive-value("padding-bottom", 60, 40, 1);

  &__row {
    margin-bottom: toRem(80);

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media('>=tablet') {
      display: flex;
      align-items: flex-start;
    }
  }

  &__title-box {
    display: flex;
    align-items: center;
    margin-bottom: toRem(30);

    @include media('>=tablet') {
      width: 40%;
      margin-bottom: 0;
      margin-right: toRem(30);
    }

    @include media('>=ipad') {
      margin-right: toRem(70);
    }

    @include media('>=desktop') {
      width: 25%;
      margin-right: toRem(230);
    }
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @include adaptive-value("width", 72, 60, 1);
    @include adaptive-value("height", 72, 60, 1);
    @include adaptive-value("margin-right", 30, 20, 1);
    background-color: #181818;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;

    svg {
      @include adaptive-value("height", 37, 34, 1);
    }
  }

  &__title {
    @include adaptive-value("font-size", 24, 20, 1);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: toRem(30);

    @include media('>=tablet') {
      width: 30%;
      margin-bottom: 0;
      margin-right: toRem(30);
    }

    @include media('>=ipad') {
      width: 25%;
    }

    @include media('>=desktop') {
      width: 20%;
      margin-right: toRem(70);
    }

    &:last-of-type {
      margin-bottom: 0;

      @include media('>=tablet') {
        margin-right: 0;
      }

      @include media('>=ipad') {
        margin-right: auto;
      }
    }

    > span {
      display: block;
      @include adaptive-value("margin-bottom", 20, 14, 1);
      @include adaptive-value("font-size", 18, 16, 1);
      color: #fff;

      span {
        @include adaptive-value("font-size", 14, 13, 1);
        color: #D33939;
      }
    }

    p {
      margin-top: 0;
      @include adaptive-value("margin-bottom", 20, 14, 1);
      @include adaptive-value("font-size", 14, 13, 1);


      &:last-child {
        margin-bottom: 0;
      }
    }

    picture {
      display: flex;
      align-content: center;
      justify-content: center;
      padding: toRem(20) toRem(15);
      background-color: #181818;
      -webkit-border-radius: toRem(10);
      -moz-border-radius: toRem(10);
      border-radius: toRem(10);

      img {
        width: auto;
        height: toRem(20);
      }
    }
  }
}