@import "../mixins";

.hero-favorites {
  @include adaptive-value("padding-top", 25, 15, 1);
  @include adaptive-value("padding-bottom", 25, 15, 1);

  &__title {
    margin-top: 0;
    @include adaptive-value("margin-bottom", 50, 40, 1);
  }

  &__filter {
    display: flex;
    align-items: center;
    @include adaptive-value("padding-bottom", 30, 20, 1);
    border-bottom: 1px solid #222;
    
    > span {
      @include adaptive-value("font-size", 14, 13, 1);
      font-weight: 400;
      color: #fff;
      margin-right: toRem(20);
    }

    > a,
    > button {
      margin-left: auto;
      @include adaptive-value("font-size", 14, 13, 1);
      font-weight: 400;
      text-decoration: none;
      color: #848484;
      background-color: transparent;
      border: none;
      
      &:hover {
        @include media('>=desktop') {
          color: #CF9056;
        }

        svg {
          path {
            @include media('>=desktop') {
              stroke: #CF9056;
            }
          }
        }
      }
      
      

      svg {
        margin-right: toRem(10);
      }
    }
  }
}

.favorites-list {
  @include adaptive-value("padding-top", 25, 15, 1);
  @include adaptive-value("padding-bottom", 120, 80, 1);

  &__wrapper {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 toRem(-10) toRem(-20);
      padding: 0;
      list-style: none;

      @include media('>=ipad') {
        margin: 0 toRem(-15) toRem(-30);
      }

      li {
        margin-bottom: toRem(20);
        width: 50%;
        padding: 0 toRem(10);

        @include media('>=tablet') {
          width: 33.3%;
        }

        @include media('>=ipad') {
          width: 25%;
          padding: 0 toRem(15);
          margin-bottom: toRem(30);
        }
      }
    }
  }
}