{% set title = "Actions" %}
{% set description = "Actions description" %}

{% extends "_layouts/default.html" %}

{% block content %}
<nav class="woocommerce-breadcrumb">
    <a href="#">Главная</a>
    Акции
</nav>
<section class="actions">
    <div class="container">
        <div class="actions__wrapper">
            <h2 class="actions__title">Акции сегодня</h2>
            <div class="actions__slider actions__slider-today swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section class="actions">
    <div class="container">
        <div class="actions__wrapper">
            <h2 class="actions__title">Акции на этой неделе</h2>
            <div class="actions__slider actions__slider-week swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="actions-card">
                            <div class="actions-card__wrapper">
                                <div class="actions-card__timer-box">
                                    <span class="actions-card__tag">Акция</span>
                                    <div class="actions-card__timer">
                                        <span>Заканчивается:</span>
                                        <span class="actions-card__date">10:07:56</span>
                                    </div>
                                </div>
                                <h2 class="actions-card__title">Скидка на Карты Таро “Черно-розовые”</h2>
                                <div class="actions-card__media-box">
                                    <picture>
                                        <img width="274" height="200" src="./images/products/img_product-action.png" alt="product image">
                                    </picture>
                                </div>
                                <div class="actions-card__price-box">
                                    <span class="actions-card__price-old">400 ₴</span>
                                    <span class="actions-card__price">299 ₴</span>
                                </div>
                                <div class="actions-card__buttons-box">
                                    <a href="#" class="btn btn__primary">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

