{% set title = "Blog" %}
{% set description = "Blog description" %}

{% extends "_layouts/default.html" %}

{% block content %}
    <nav class="woocommerce-breadcrumb">
        <a href="#">Главная</a>
        Блог
    </nav>
    <section class="hero-blog">
        <div class="container">
            <div class="hero-blog__wrapper">
                <h1 class="hero-blog__title h2">Блог</h1>
                <ul class="hero-blog__top-list">
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="200" src="./images/posts/img_post-5.jpg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Офисное таро: вся боль и радость (не только офисной) работы</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Офисное таро: вся боль и радость (не только офисной) работы</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="130" height="100" src="./images/posts/img_post-6.jpg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Ошибки, которые мешают вам освоить Таро</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Карты таро возникли в культуре, увлекавшейся философией — в Италии эпохи Ренессанса</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="130" height="100" src="./images/posts/img_post-7.jpg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Архетипы и гуманизм в таро: взаимосвязь колоды карт и психологии</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Карты таро возникли в культуре, увлекавшейся философией — в Италии эпохи Ренессанса</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="130" height="100" src="./images/posts/img_post-8.jpg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Карты таро возникли в культуре, увлекавшейся философией — в Италии эпохи Ренессанса</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Эта статья основана на книге Alice Sparkly Kat</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="blog-list">
        <div class="container">
            <div class="blog-list__wrapper">
                <h2 class="blog-list__title">Последние записи</h2>
                <ul>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-1.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-2.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-3.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-4.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-1.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-2.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-3.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-4.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-1.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-2.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-3.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-4.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-1.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-2.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-3.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-4.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-1.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-2.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-3.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-card">
                            <div class="post-card__wrapper">
                                <div class="post-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="337" height="180" src="./images/posts/img_post-4.jpeg" alt="post image">
                                    </picture>
                                </div>
                                <h3 class="post-card__title">
                                    <a href="#">Долго и со скрипом или легко и приятно</a>
                                </h3>
                                <div class="post-card__description">
                                    <p>Каждая свеча с особой магией</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="pagination">
                    <div class="pagination__wrapper">
                        <div class="pagination__item disabled">
                            <span class="prev page-numbers">
                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 5H1M1 5L4.88 1M1 5L4.88 9" stroke="#636363" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </div>
                        <div class="pagination__item active">
                            <span aria-current="page" class="page-numbers current">1</span>
                        </div>
                        <div class="pagination__item">
                            <a class="page-numbers" href="#">2</a>
                        </div>
                        <div class="pagination__item">
                            <a class="page-numbers" href="#">3</a>
                        </div>
                        <div class="pagination__item">
                            <span class="page-numbers dots">…</span>
                        </div>
                        <div class="pagination__item">
                            <a class="page-numbers" href="#">123</a>
                        </div>
                        <div class="pagination__item">
                            <a class="next page-numbers" href="#">
                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5H17M17 5L13.12 1M17 5L13.12 9" stroke="#636363" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

