{% set title = "Product" %}
{% set description = "Product description" %}

{% extends "_layouts/default.html" %}

{% block content %}
<nav class="woocommerce-breadcrumb">
    <a href="#">Главная</a>
    <a href="#">Каталог</a>
    <a href="#">Коробочки</a>
    Медная коробочка
</nav>
<div class="hero-product">
    <div class="container">
        <div class="hero-product__wrapper">
            <div class="hero-product__title-box">
                <div class="hero-product__timer-box">
                    <span class="hero-product__tag">Акция</span>
                    <div class="hero-product__timer">
                        <span>Заканчивается:</span>
                        <span class="hero-product__date">10:07:56</span>
                    </div>
                </div>
                <h1 class="hero-product__title">Медная коробочка</h1>
                <span class="hero-product__article-num">Артикул: К=МЕД</span>
            </div>
            <div class="hero-product__slider-box">
                <div class="hero-product__slider swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-1.png" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="../images/product/img_product-2.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-3.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-4.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-5.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-1.png" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="../images/product/img_product-2.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-3.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-4.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-5.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-gallery__navigation swiper-navigation">
                                        <button class="swiper-button-prev product">
                                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 5H1M1 5L4.88 1M1 5L4.88 9" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                        <button class="swiper-button-next product">
                                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5H17M17 5L13.12 1M17 5L13.12 9" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                        <div thumbsSlider="" class="hero-product__thumbs swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-1.png" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-2.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-3.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-4.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-5.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-1.png" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="../images/product/img_product-2.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-3.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-4.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="swiper-slide__wrapper">
                                                <picture>
                                                    <img src="./images/product/img_product-5.jpg" alt="product image">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-gallery__navigation swiper-navigation">
                                        <button class="swiper-button-prev thumb">
                                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 5H1M1 5L4.88 1M1 5L4.88 9" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                        <button class="swiper-button-next thumb">
                                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5H17M17 5L13.12 1M17 5L13.12 9" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
            </div>
            <div class="hero-product__info">
                <div class="hero-product__info-actions">
                    <div class="hero-product__price-box">
                        <span class="hero-product__price-old">400 ₴</span>
                        <span class="hero-product__price">299 ₴</span>
                    </div>
                    <a href="#" class="hero-product__btn-buy btn btn__primary">Купить</a>
                    <a href="#" class="hero-product__btn-favorite btn">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="hero-product__description">
                        Maecenas nec enim feugiat, vehicula urna ut, faucibus nunc. Fusce dictum accumsan blandit. Morbi cursus leo id urna rutrum, in auctor turpis gravida.</p>
                </div>
                <div class="hero-product__spec">
                    <div class="accordion">
                        <button class="accordion__btn">
                            Характеристики
                            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 6L6 1L11 6" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <div class="accordion__content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci cumque dignissimos ducimus et laboriosam maiores, minima minus nihil odio possimus quae quaerat qui quisquam quo rem repudiandae rerum tempore?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="new-additions products-gallery">
    <div class="container">
        <div class="products-gallery__wrapper">
            <h2 class="products-gallery__title">Новые поступления</h2>
            <div class="products-gallery__navigation swiper-navigation">
                <button class="swiper-button-prev new-additions">
                    <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 5H1M1 5L4.88 1M1 5L4.88 9" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="swiper-button-next new-additions">
                    <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 5H17M17 5L13.12 1M17 5L13.12 9" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            <div class="products-gallery__slider new-additions__slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="110" height="112" src="./images/products/img_product-5.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="82" height="112" src="./images/products/img_product-6.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <span class="product-card__tag">Скидка</span>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price-old">460 ₴</span>
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="110" height="112" src="./images/products/img_product-7.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <span class="product-card__tag">Акция</span>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="82" height="112" src="./images/products/img_product-8.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price-old">460 ₴</span>
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="110" height="112" src="./images/products/img_product-5.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="82" height="112" src="./images/products/img_product-6.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <span class="product-card__tag">Скидка</span>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price-old">460 ₴</span>
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="110" height="112" src="./images/products/img_product-7.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <span class="product-card__tag">Акция</span>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <div class="product-card__wrapper">
                                <div class="product-card__media">
                                    <a href="#"></a>
                                    <picture>
                                        <img width="82" height="112" src="./images/products/img_product-8.png" alt="product image">
                                    </picture>
                                    <div class="product-card__buttons">
                                        <button class="product-card__btn btn__cart">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.02222 7.11434C2.21604 5.61908 3.48956 4.5 4.99732 4.5H9.25268C10.7604 4.5 12.034 5.61908 12.2278 7.11434L12.8111 11.6143C13.0438 13.4093 11.646 15 9.83601 15H4.41399C2.60401 15 1.2062 13.4093 1.43888 11.6143L2.02222 7.11434Z" stroke="#CF9056" stroke-width="1.4"/>
                                                <path d="M8.875 7.125L9.37877 3.59862C9.5747 2.22709 8.51045 1 7.125 1V1C5.73955 1 4.6753 2.22709 4.87123 3.59862L5.375 7.125" stroke="#CF9056" stroke-width="1.4" stroke-linecap="round"/>
                                            </svg>
                                        </button>
                                        <button class="product-card__btn btn__favorite">
                                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 11.2857C6.93648 11.2857 6.87293 11.271 6.81459 11.2413C6.7558 11.2115 5.35891 10.4974 3.94186 9.29932C3.10049 8.58799 2.42772 7.85276 1.94234 7.11404C1.31705 6.16249 1 5.20021 1 4.25399C1 2.45973 2.43879 1 4.20731 1C5.40343 1 6.44869 1.6676 7 2.65493C7.55131 1.6676 8.59661 1 9.79269 1C11.5612 1 13 2.45973 13 4.25399C13 5.20021 12.6829 6.16249 12.0577 7.11404C11.5722 7.85276 10.8995 8.58799 10.0581 9.29937C8.64113 10.4974 7.2442 11.2115 7.18541 11.2413C7.12707 11.271 7.06352 11.2857 7 11.2857Z" stroke="#CF9056" stroke-width="1.4" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <h3 class="product-card__title">
                                    <a href="#">Карты Таро “Светлый винтаж”</a>
                                </h3>
                                <div class="product-card__price-box">
                                    <span class="product-card__price-old">460 ₴</span>
                                    <span class="product-card__price">400 ₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}