{% set title = "Post" %}
{% set description = "Post description" %}

{% extends "_layouts/default.html" %}

{% block content %}
<nav class="woocommerce-breadcrumb">
    <a href="#">Главная</a>
    Блог
</nav>
<section class="single__section">
    <div class="single__bg-img">
        <picture>
            <img width="375" height="220" src="./images/bg_single-hero.jpg" alt="background image">
        </picture>
    </div>
    <div class="container">
        <div class="single__wrapper">
            <h1>Архетипы и гуманизм в таро: взаимосвязь колоды карт и психологии</h1>
            <h2>Путешествие героя (или мономиф)</h2>
            <p>
                Начинается всё с Дурака (или Шута) — в таро того времени это был аркан полного невежества и выпадения из социума. Однако, у Дурака были перспективы — путём развития своего духа он мог стать Магом (в то время он чаще назывался Фокусником), и завладеть вниманием публики (пусть и сомнительными путями), попутно учась ловкости и мастерству.
            </p>
            <p>
                Дальнейшие ступени благородства духа шли через Императора (признанного и достойного члена общества, хозяина, отца), Иерофанта (Папу Римского, то есть религиозную доктрину), Влюблённого (совершающего судьбоносный моральный выбор), Колесничего (триумфатора, победителя) и так далее — к Страшному Суду и Миру (концу пути и райской гармонии).
            </p>
            <blockuote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa eaque eos nobis, repellat repellendus sequi soluta sunt vel velit.
            </blockuote>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, veritatis.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, veritatis.</li>
                <li>Lorem ipsum dolor sit amet. Reiciendis, veritatis.</li>
                <li>Reiciendis, veritatis.</li>
            </ul>
            <p>
                Кстати, для женщины того времени модели духовного развития предлагались куда более ограниченные. Аркан Жрица (Папесса) показывал, вероятнее всего, нечестивый, неподобающий для женщины того времени сценарий (женщина на духовном престоле тогда виделась не иначе как обманщица и еретичка). А Императрица — образ “правильной” женщины: жены, хозяйки, матери и светской правительницы. Хорошо, что времена меняются, и теперь мы знаем, что путь развития души, раньше предлагавшийся мужчинам, доступен и актуален для всех.(Однако я не советую тут сразу же клеймить колоду таро дремучей и сексистской! Уже одно включение образов типа Папессы в колоду — прогрессивный для того времени шаг. По сути, так образ духовной и авторитетной женщины всё же вошёл в колоду наравне с другими арканами, и со временем очистился от того налёта осуждения, что был вначале.)
            </p>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, veritatis.</li>
                <li>
                    Lorem ipsum dolor:
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, veritatis.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, veritatis.</li>
                        <li>Lorem ipsum dolor sit amet. Reiciendis, veritatis.</li>
                        <li>Reiciendis, veritatis.</li>
                    </ul>
                </li>
                <li>Lorem ipsum dolor sit amet. Reiciendis, veritatis.</li>
                <li>Reiciendis, veritatis.</li>
            </ol>
            <p>
                Арканы таро предлагалось рассматривать — и постигать через символизм изображений заложенные в них идеи. Сейчас бы мы сказали — “впитывать архетип”. Долго и терпеливо изучая аркан Отшельник, человек Возрождения учился искать мудрость внутри себя и предаваться уединению, а, допустим, аркан Император мог быть полезен, чтобы понять идею властности, закона и порядка.Размышления были тогда в моде — а колода таро стала удобнейшим инструментом для этого.К этому, по сути, психологичному подходу сейчас стремятся вернуться многие современные ведьмы. И они не делают ничего революционного — наоборот, изучают истоки.
            </p>
            <img width="337" height="420" src="./images/img_single-content-1.jpg" alt="content image">
            <h2>Архетипы</h2>
            <p>
                Слово “архетип” значит “изначальный образ”. Этот термин в психологию ввёл психоаналитик Карл Густав Юнг. Под архетипами понимают образы, своего рода символические фигуры, “обитающие” в нашем бессознательном.
            </p>
            <figure>
                <img width="375" height="220" src="./images/img_single-content-1.jpg" alt="content image">
                <figcaption>Image description</figcaption>
            </figure>
            <p>
                Колода таро наполнена архетипами. Об этом написано много книг (например, “Архетипы таро” Алёны Солодиловой-Преображенской).Например, аркан Дурак — это архетип внутреннего ребёнка. Медитация на этот аркан, или старое доброе ренессансное размышление, способны воссоединить нас с внутренним ребёнком и стать более непосредственными, спонтанными и наполненными жизнью.Маг — архетип трикстера, умелой и готовой действовать ради собственной выгоды (а иногда и чтобы посмеяться и разыграть) внутренней фигуры.Маг в паре со Жрицей часто видится и как Анимус и Анима, актуальные для женщин и мужчин архетипы “противоположного гендера”. То есть при женской социализации внутри остаётся скрытым активный и воинственный потенциал, так называемый Анимус. А мужчины социализируются так, что оказывается заперта внутри чувствительность и иррациональность — Анима. Контакт со своими Анимусом или Анимой — путь к гармоничному, всестороннему развитию вне гендерных стереотипов и комплексов.
            </p>
            <p>
                Императрица и Император — это, конечно, архетипы матери и отца, ключевые фигуры для психоанализа. Мы можем и самостоятельно попробовать узнать что-то о своём контакте с этими архетипами, наблюдая за своим отношением к арканам Императрицы и Императора. Если какой-то из них вызывает боль, отторжение или протест — вероятнее всего, образы матери или отца для нас связаны с чем-то негативным, и стоит исследовать это поглубже.
            </p>
        </div>
    </div>
</section>
<section class="blog">
    <div class="container">
        <div class="blog__wrapper">
            <h2 class="blog__title">Еще по теме</h2>
            <ul class="blog__list">
                <li>
                    <div class="post-card">
                        <div class="post-card__wrapper">
                            <div class="post-card__media">
                                <a href="#"></a>
                                <picture>
                                    <img width="337" height="180" src="./images/posts/img_post-1.jpeg" alt="post image">
                                </picture>
                            </div>
                            <h3 class="post-card__title">
                                <a href="#">Долго и со скрипом или легко и приятно</a>
                            </h3>
                            <div class="post-card__description">
                                <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="post-card">
                        <div class="post-card__wrapper">
                            <div class="post-card__media">
                                <a href="#"></a>
                                <picture>
                                    <img width="337" height="180" src="./images/posts/img_post-2.jpeg" alt="post image">
                                </picture>
                            </div>
                            <h3 class="post-card__title">
                                <a href="#">Долго и со скрипом или легко и приятно</a>
                            </h3>
                            <div class="post-card__description">
                                <p>Каждая свеча с особой магией</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="post-card">
                        <div class="post-card__wrapper">
                            <div class="post-card__media">
                                <a href="#"></a>
                                <picture>
                                    <img width="337" height="180" src="./images/posts/img_post-3.jpeg" alt="post image">
                                </picture>
                            </div>
                            <h3 class="post-card__title">
                                <a href="#">Долго и со скрипом или легко и приятно</a>
                            </h3>
                            <div class="post-card__description">
                                <p>In sodales mi lorem, non rhoncus sem iaculis sed. Aliquam rutrum, felis id fringilla porta</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="post-card">
                        <div class="post-card__wrapper">
                            <div class="post-card__media">
                                <a href="#"></a>
                                <picture>
                                    <img width="337" height="180" src="./images/posts/img_post-4.jpeg" alt="post image">
                                </picture>
                            </div>
                            <h3 class="post-card__title">
                                <a href="#">Долго и со скрипом или легко и приятно</a>
                            </h3>
                            <div class="post-card__description">
                                <p>Каждая свеча с особой магией</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}

